@import "tailwindcss";

@theme {
  --color-climavolt-blue: #2563eb;
  --color-climavolt-dark: #0f172a;
  --color-climavolt-card: #1e293b;
}

@layer base {
  body {
    @apply bg-slate-950 text-slate-100;
  }
}
